<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GalgameScreenShoter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GalgameScreenShoter.Properties.Settings>
            <setting name="FolderPath1" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName1" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyFlag" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FolderPath2" serializeAs="String">
                <value />
            </setting>
            <setting name="FileName2" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileFlag" serializeAs="String">
                <value>0</value>
            </setting>
        </GalgameScreenShoter.Properties.Settings>
    </userSettings>
</configuration>